{% extends "base.html" %}
{% block content %}
            <div id="content">
                <div class="container-fluid">
                    <div class="text-center d-sm-flex justify-content-between align-items-center mb-4" style="padding-top: 3.5%;">
                        <h3 class="text-center text-light mb-0">403: Forbidden</h3>
                    </div>

                    <h4 class="text-center text-light">You don't have permissions to view this page.</h4>
                    <p class="text-center text-light">If you followed a link to get here, make sure you have permissions to view this guild. If you typed the URL, double-check it's correct.</p>
                </div>
            </div>
{% endblock %}
