{% extends "base.html" %}
{% block content %}
            <div id="content">
                <div class="container-fluid" style="color: var(--white);">
                    <div class="text-center d-sm-flex justify-content-between align-items-center mb-4" style="padding-top: 3.5%;color: var(--white);">
                        <h3 class="text-center text-light mb-0" style="color: var(--white);">404: Not Found</h3>
                    </div>

                    <h4 class="text-center text-light">It looks like you found a glitch in the matrix!</h4>
                    <p class="text-center text-light">If you followed a link to get here, let someone know in the bot's support server. If you typed the URL, double-check it's correct.</p>
                </div>
            </div>
{% endblock %}
