{% extends "base.html" %}
{% block content %}
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="padding-top: 3.5%;">
                        <h3 class="text-light mb-0" style="color: var(--white);">Managing Guild {{ guild['name'] }}</h3>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col mb-4" style="width: 100%;padding-right: 0px;">
                            <div class="card shadow border-left-primary py-2" style="width: 100%;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Total Updaters</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span style="color: rgb(200,200,200);">{{total_updaters}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-server fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4" style="width: 100%;padding-right: 0px;">
                            <div class="card shadow border-left-primary py-2" style="width: 100%;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span style="color: var(--orange);">Enabled Channels</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span style="color: rgb(200,200,200);">{{enabled_channels}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-list-alt fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4" style="width: 100%;padding-right: 0px;">
                            <div class="card shadow border-left-primary py-2" style="width: 100%;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span style="color: var(--red);">Used Credits</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span style="color: rgb(200,200,200);">{{used_credits}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4" style="width: 100%;padding-right: 0px;">
                            <div class="card shadow border-left-primary py-2" style="width: 100%;">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span style="color: var(--cyan);">AVAILABLE Credits</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span style="color: rgb(200,200,200);">{{avail_credits}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user-tag fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-sm-1 row-cols-md-1">
                        <div class="col mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary font-weight-bold m-0">Channels</h6>
                                </div>
                                <div class="card-body">
                                    <p class="text-light">Only showing channels where you have the Manage Messages permission!</p>
                                    <div role="tablist" id="accordion-1">
                                        {% for channel in channels %}
                                            <div class="card">
                                                <div class="card-header" role="tab">
                                                    <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">{{ channel['name'] }}</a></h5>
                                                </div>
                                                <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                                                    <div class="card-body"><a class="btn btn-primary" role="button" href="/manage/{{ guild['id'] }}/{{ channel['id'] }}">Click to Manage</a></div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
